/* CSS Document */

/*■初期設定*/

body{
	background-color:#000000;/*背景の色*/
	}
a{
	color:#0099FF;/*通常のリンクテキストカラー*/
	}
a:hover{
	color:#FF9900;/*マウスが乗った時の通常のリンクテキストカラー*/
	text-decoration:underline;/*マウスが乗った時下線を表示（つけない場合は underline を none へ）*/
	}

/*■初期設定ここまで*/



*{ margin:0; padding:0;}
img{border:0;}

table,div{
	margin:auto;
	}

/*■フォントサイズ調整*/
body {
    font-size: 12px; /* モダンブラウザ */
    *font-size: 80%; /* IE 7 */
    *font: 80%; /* IE 6以下 */
}

body{
	text-align:center;
	}

/*■レイアウトセレクタ*/
.CNT{
	text-align:center;
	}
.L{
	text-align:left;
	}
.R{
	text-align:right;
	}


/*■基本レイアウト*/
#bg{
	width:820px;
	background:url(img/bg_con.jpg) repeat-y;
	text-align:center;
	}
#container{
	width:800px;
	margin:auto;
	text-align:left;
	}
#head{}
#head h1{
	height:20px;
	line-height:16px;
	font-size:11px;
	color:#CCCCCC;
	font-weight:normal;
	text-indent:10px;
	}
#head h2{
	padding:4px 0 0 10px;
	font-weight:normal;
	font-family:'メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	}
#head h2 a{
	font-size:24px;
	line-height:140%;
	vertical-align:top;
	text-decoration:none;
	color:#CCCCCC;
	font-weight:normal;
	filter: glow(color=#666666,strength=100);
	}
#head h2 a:hover{
	font-size:24px;
	line-height:140%;
	vertical-align:top;
	text-decoration:none;
	color:#CCCCCC;
	}


/*メインイメージ*/
#main_image{
	clear:left;
	width:800px;
	padding:0 0 1px 0;
	border:solid #333333;
	border-width:0 0 1px 0 ;
	}
#main_image div#main_img_txt h3{
	}

#contents{
	margin:20px 10px 20px 10px;
	clear:left;
	zoom:100%;
	}
#contents:after{
	content: "";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
	}
#foot_up{
	background:url(img/line_02.gif) no-repeat bottom;
	clear:both;
	height:32px;
	margin:0 0 0 0;
	}
#foot{
	clear:left;
	background:url(img/bg_foot.gif) no-repeat;
	width:820px;
	height:50px;
	}
#copy{
	line-height:40px;
	font-size:11px;
	text-align:center;
	color:#FFFFFF;
	padding:2px;
	}
#copy a{
	color:#ffffff;
	text-decoration:none;
	}
#copy a:hover{
	color:#ffffff;
	}

/***トップ***/
#top{}
#top div#top_up{
	zoom:100%;
	margin:0 0 20px 0;
	}
#top div#top_up:after{
	content: "";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
	}
#top div#top_up div#left{
	float:left;
	width:400px;
	margin:0 0 0 0;
	}
#top div#top_up div#left p{
	margin:8px 0 0 0;
	line-height:160%;
	}
#top div#top_up div#right{
	float:left;
	width:360px;
	margin:0 0 0 20px;
	}
#top div#top_up div#right h3{
	font-size:12px;
	}
#top div#top_up div#right div#info{
	background:url(img/top/bg_info.gif) no-repeat;
	width:360px;
	height:200px;
	padding:1px 1px 0px 1px;
	}
#top div#top_up div#right div#info div#main{
	overflow:auto;
	width:358px;
	height:198px;
	margin:0;
	}
#top div#top_up div#right div#info div#main h4{
	margin:8px 10px 0 10px;
	font-size:100%;
	color:#FF9900;
	}
#top div#top_up div#right div#info div#main p{
	margin:4px 10px 0 10px;
	}
#top div#btm{
	clear:left;
	}
#top div#btm div#bnr_sps{
	}
#top div#btm div#bnr_sps ul{
	list-style-type:none;
	zoom:100%;
 	}
#top div#btm div#bnr_sps ul:after{
	content: "";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
	}
#top div#btm div#bnr_sps ul li{
 float:left;
 margin:0 8px 0 0;
 }
#top div#btm div#bnr_sps ul li a:hover img{
	filter:alpha(opacity=85); /*IE*/
	-moz-opacity:0.85; /*FF*/
	}

/***その他のページ***/
#other_page{}
#other_page h3{
	background:url(img/bg_h3.jpg) no-repeat;
	font-size:18px;
	line-height:52px;
	height:52px;
	color:#FFFFFF;
	vertical-align:bottom;
	text-indent:10px;
	}


#other_page h4{ font-size:110%;
	line-height:1.0em;
	vertical-align:top;
	margin:20px 0 0 0;
	color:#cccccc;
	border:solid #FFCC00;
	text-indent:2px;
	border-width:0 0 0 3px;
	}
#other_page h5{
	font-size:100%;
	line-height:1.0em;
	vertical-align:top;
	margin:14px 0 0 0;
	color:#FF9900;
	}
#other_page div.typeA{
	}
#other_page div.typeA p{
	margin:2px 0 16px 0;
	line-height:200%;
	}
#other_page div.typeB{
	zoom:100%;
	}
#other_page div.typeB:after{
	content: "";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
	}
#other_page div.typeB p{
	margin:2px 0 16px 0;
	line-height:200%;
	}
#other_page div.typeB div.left{
	float:left;
	width:370px;
	}
#other_page div.typeB div.right{
	float:right;
	width:370px;
	margin:0 0 0 20px;
	}

#other_page p.margin_none{ margin:0;}
#other_page p{ margin:6px 0 0 0;}

/*テーブルセット*/
#tbl_setA{
	border:#666666 solid 1px;
	border-collapse:collapse;
	margin:0;
	}
#tbl_setA th{
	border:#666666 solid 1px;
	background:url(img/bg_th_a.gif);
	padding:6px;
	color:#CCCCCC;
	text-align:center;
	}
#tbl_setA td{
	border:#666666 solid 1px;
	padding:6px;
	color:#CCCCCC;
}


@media print{

#container{
	width:820px;
	}
}

